.lines{
  outline: 1px solid red;
}
.container2{
width: 100vw;
}
.margin{
  margin-bottom: 0px;
}
.cont-margin{
margin-left: 0px;
margin-right: 0px;
}
/*.cont-margin{
width: 95%;
}*/
.space{
  padding-left: 0px;
}
.btn-resalt{
  width: 300px;
  text-transform: lowercase;

}
*{
  color: white;
  cursor: pointer;
}
/*estilos para el botón hamburguesa*/
.btn-hamburger{
  background-color: white;
  border:1px solid gray;
  border-radius: 10%;
}

/*imagen del encabezado*/
img[alt="logo-labcar"]{
  margin-left: 1rem;
  margin-top: 1rem;
}

/*primera sección*/
/*imagen de fondo*/
.first-background{
  background-image: url(../assets/images/taxi.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  height: 100vh;
  /*aplicando flex para que el bloque comienza tu viaje se posicione al medio*/
  display: flex;
  /*lo posiciona al centro y al final*/
  align-items: center;
  justify-content: flex-end;*/
}
/*boton descarga el app*/
.butn{
  border-radius: 10px;

}
/*incorporando lineas latrales al texto o bien*/
.text{
  text-align: center;
  width: 90%;
}
/*línea lateral despues*/
.text:after {
  /*no se aplica ningun texto*/
  content: " ";
  /*se posiciona al lado de la estrella*/
  display: inline-block;
  /*tamaño de la linea*/
  width: 90px;
  height: 1px;
  /*color de fondo*/
  background: white;
  /*posicionamiento al medio de la estrella*/
  margin-top: 20px;
  margin-left: 2rem;
}
/*línea lateral antes del texto*/
.text:before {
  /*no se aplica ningun texto*/
  content: " ";
  /*se posiciona al lado de la estrella*/
  display: inline-block;
  /*tamaño de la linea*/
  width: 90px;
  height: 1px;
  /*color de fondo*/
  background: white;
  /*posicionamiento al medio de la estrella*/
  margin-top: 20px;
  margin-right:2rem;
}

.section-app{
  border: 1px solid white;
  margin-top: 2rem;
}

.flex{
float: right;
width: 40%;
margin-right: 0px;
}

.second-background{
  background-image: url(../assets/images/conduce.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center bottom;
  height: 100vh;
  top:0;

}

.third-section{
  background-color:rgba(52, 52, 52, 0.45);
  padding-top: 3rem;
  height: 100vh;
  padding-left: 2rem;


}

/*
.color{
  background-color:rgba(52, 52, 52, 0.45);
}*/
/*seccion tarifa*/
.tarifa{
  padding-top: 4rem;
}

/*entrada del formulario*/
section .tarifa .input-field input{
  border: 1px solid white;
  border-radius: 5px;
}
section .tarifa input::-webkit-input-placeholder{
  color: white;
}

/*imagen del mapa*/
img[alt="google-map"]{
  border: 1px solid white;
  padding: 5px;
}

/*footer*/
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
/*modificando el estilo*/
a{
  text-decoration: none;
  color: white;
}
/*estilos para la lista que comienza en viaja*/
.list1{

  /*espaciado entre cada elemento*/
  line-height: 2.5;
}
/*iconos en la version mobile*/
.footer-icons{
  margin-bottom: 4rem;
  font-size:1em;
}
/*espaciado entre los iconos*/
.footer-icons li a{
margin-right: 1rem;

}
/*seccion de imagenes en el footer*/
.footer-img figure{
  /*espaciado inferior*/
  margin-left: 0px;
}
footer h6{
  margin-left: 1rem;
  margin-top: 2rem;
}


@media (min-width: 993px){
.section-app{
  border: 1px solid red;
}
  }
